{% extends 'core/base.html' %}

{% block body_block %}
<div class="login-form-container">
    <h4 style="color: whitesmoke;">Login</h4>
    <form class="login-form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}