body {
    margin:0;
    box-sizing: border-box;
    padding:0;
    font-family: 'Poppins', sans-serif;   
    background:#2E2F2E !important; 

}

html {
    background:#2E2F2E !important; 
}

.navbar{
    background:#2E2F2E !important;
    border-bottom: solid 0.2px goldenrod;
}

.navbar a.nav-link{
    color: #FCFCFC !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    letter-spacing: 0.5 !important;

}
.hero-container {
    height: 40vh;
    width: 100%;
    margin-top:10px;
    background:#2E2F2E;
    padding: 0% 4%;
    display: flex;

}

.header-container {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    height:100%;
    width:35%;
    color:#FCFCFC;
}


.header-container a {
    width: 100px !important;
}

.title, .subtitle,.header-container a, .header-container .cta p {
    transform:translateY(-0px);
    margin-top:10px;
}

.header-container .cta p {
    color: #FCFCFC;
}

#already-have-an-account a {
    color:gold;
} 

#kings-msg{
    position: relative;
    color: white;
    transition: all 0.75s;

    opacity: 0;
}

.header-image-container {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.appear {
   
    opacity: 1 !important;
}


.registration-form-container, .login-form-container{
    color: lightgray;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.registration-form {
    color:black;
    height: 500px;
    width: 370px;
    padding: 20px;
    background: linear-gradient(to right, #b79891, #94716b);
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(247, 247, 247, 0.3);
}

.right-nav-items {
    display: flex;
}
.logged-in-user {
    color:white !important;
}

.login-form {
        color:black;
        height: 280px;
        width: 370px;
        padding: 20px;
        background: linear-gradient(to right, #b79891, #94716b);
        border-radius: 10px;
        box-shadow: 3px 3px 8px rgba(247, 247, 247, 0.3);
}