.posts-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: -40px;
}

.add-post-btn{
    transform:translate(20px,-55px)
}

.post-container-header{
    color:whitesmoke;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 25px;

}

.card {
    width:26% !important;
    margin-right: 3.66667%;
    margin-left: 3.666667%;
    margin-top:30px;

}

.card-footer {
    font-weight: 400 !important;
}

.card-img-top {
    height:350px !important;
}

.card-body {
    height: 200px;
}


.post-detail-container{
    width: 70%;
    color:#333333;
    background: #E9ECEF;
    transform: translate(25%) !important;
    border-radius: 5px;
    padding: 2% 3%;
}

.featured-img{
    height: 400px;
    width: 80%;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    transform:translate(12%);
    margin-top: 10px;
    
}

.jumbotron {
    height:200px !important;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.post-title {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 2px;
    text-align:center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.post-author {
    color: #333333;
}

.post-cta {
    position: absolute;
    top: 15%;
    right: 1.5%;
    width: 15%;
    text-align: right;
}


/* Comments CSS */
.comment-card {
    color: whitesmoke;
}

.comment-section {
    padding: 20px;
    color: whitesmoke;
}

.comment-section h2 {
    color:goldenrod;
}


.update-modal {
    color: black;
}

.comment-update-form{
    color:black;
}

.comment-cta-update-button {
    background: none;
    color: skyblue;
    border: none;
    position: absolute;
    right: 14%;
    transform: translateY(-20px);
}

.comment-cta-delete-button {
    background: none;
    color: red;
    border: none;
    position: absolute;
    right: 10%;
    transform: translateY(-20px);
}