{% extends 'core/base.html' %}

{% block body_block %}
<div class="post-form-container">
    {% if post %}
    <h2>Update Post</h2>
    {% else %}
    <h2>Create Post</h2>
    {% endif %}
    
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}
    {{ form.as_p }}
    <div class="form-group">
        {% if post %}
        <input type="submit" value="Update" class="btn btn-warning">
        {% else %}
        <input type="submit" value="Post" class="btn btn-primary">
        {% endif %}
    </div>
    </form>
</div>
{% endblock %}