{% extends 'core/base.html' %}

{% block body_block %}
<h2>Post Detail Page</h2>
<p>{{post_detail.title}}</p>
<p>{{post_detail.content}}</p>
<p><strong>Created on:</strong> {{post_detail.created_on}}</p>

{% if request.user == post_detail.author %}
<div class="post-cta">
    <a href="{% url 'post:update' pk=post_detail.id %}" class='btn btn-warning'>Update</a>
    <a href="{% url 'post:delete' pk=post_detail.id %}" class='btn btn-danger'>Delete</a>
</div>
{% else %}
<p>You are not the author of this post</p>
{% endif %}
{% endblock %}