{% extends 'core/base.html' %}

{% load static %}

{% block head_block%}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Permanent+Marker&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/posts.css'%}">

{%endblock%}

{% block body_block %}
{% if flash %}
<div class="alert alert-success" role="alert">
    {{flash}}
  </div>
{% endif %}
{% if request.user == post_detail.author %}
<div class="post-cta">
    <a href="{% url 'post:update' pk=post_detail.id %}" class='btn btn-warning'>Update</a>
    {% if not post_detail.is_published %}
    <a href="{% url 'post:publish' pk=post_detail.id %}" class='btn btn-success'>Publish</a>
    {% endif %}
    <a href="{% url 'post:delete' pk=post_detail.id %}" class='btn btn-danger'>Delete</a>
</div>
{% endif %}
<div class="jumbotron">
    <h1 class="post-title">{{post_detail.title}}</h1>
    <p class="post-author">By: {{post_detail.author.first_name | title }} {{post_detail.author.last_name | title }}</p>
    {% if post_detail.is_published %}
    <p class="post-author">Publish Date: {{post_detail.published_date}}</p>
    {% endif %}
</div>

{% if request.user == post_detail.author %}
<div class="post-detail-container" style="transform:translate(-50%,-29%);">
{% else %}
<div class="post-detail-container" style="transform:translate(-50%,-25%);">
{% endif %} 
    <div class="post-content-container">
        {{post_detail.content | safe}}
    </div>
</div>


<!-- Comments Section -->

<!-- Button trigger modal -->
<div class="comment-section">
    <h2>Comments</h2>
    {% if not post_detail.comments.all %}
    <p>No comments</p>
    {% else %}


    {%for comment in post_detail.comments.all %}
    
    <div class="comment-card">
        <hr>
        <div class="comment-content">
            <p>{{comment.content}}</p>
        </div>
        <div class="comment-card-footer">
            <div class="comment-footer-item">
                <small >{{comment.author.username}}</small>
            </div>
            <div class="comment-footer-item">
                <small>{{comment.created_on}}</small>
            </div>
            {% if comment.author.id == user.id %}
            <div class="comment-footer-item">
                <button type="button" class="comment-cta-update-button" data-toggle="modal" data-target="#updateCommentModal{{comment.id}}">
                    edit
                </button>
                <button type="button" class="comment-cta-delete-button" data-toggle="modal" data-target="#deleteCommentModal{{comment.id}}">
                  delete
              </button>
            </div>
            {% endif %}
        </div>
        <hr>
    </div>

    <!-- Edit Comment Modal -->
    <div class="modal fade update-modal" id="updateCommentModal{{comment.id}}" tabindex="-2" role="dialog" aria-labelledby="updateCommentModal{{comment.id}}" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateCommentModal{{comment.id}}">Edit Comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form method="POST" action="{% url 'comment:update' comment_pk=comment.id post_pk=post_detail.id%}" class="comment-update-form" id="comment-update-form{{comment.id}}">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="content">Comment:</label>
                      <textarea style="color:black;" form="comment-update-form{{comment.id}}" name="content" cols="30" rows="10"class="form-control">{{comment.content}}</textarea>
                  </div>
                  <div class="form-group">
                      <input type="submit" value="post" >
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Comment Modal -->
    <div class="modal fade update-modal" id="deleteCommentModal{{comment.id}}" tabindex="-2" role="dialog" aria-labelledby="deleteCommentModal{{comment.id}}" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteCommentModal{{comment.id}}">Are you sure you want to delete this comment?{{comment.id}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form method="POST" action="{% url 'comment:delete' comment_pk=comment.id post_pk=post_detail.id%}" class="comment-delete-form" id="comment-delete-form{{comment.id}}">
                  {% csrf_token %}
                  <div class="form-group">
                      <input type="submit" value="Delete" class="btn btn-danger" >
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}



  <!-- Add Comment Button -->  
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCommentModal">
        Add comment
    </button>
</div>


</div>
  <!-- Add Comment Modal -->
  <div class="modal fade" id="createCommentModal" tabindex="-1" role="dialog" aria-labelledby="createCommentModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createCommentModal">Add Comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'comment:create' post_pk=post_detail.id%}" id="comment-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="content">Comment:</label>
                    <textarea form="comment-form" name="content" cols="30" rows="10"class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="post" >
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}