{% extends 'core/base.html' %}
{% load static%}
{% block head_block%}
<link rel="stylesheet" href="{% static 'css/posts.css'%}">
{% endblock%}
{% block body_block %}
    <h3 class='post-container-header'>Posts</h3>
    <a class=" add-post-btn btn btn-warning " href="{% url 'post:create' %}">New Post</a>

<div class="posts-container">

    {% for post in posts %}
    <div class="card" style="width: 18rem;margin-bottom: 15px;">
        {% if not post.featured_image %}
        <img class="card-img-top" src="https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1367&q=80" alt="Card image cap">
        {% else %}
        <img class="card-img-top" src="http://127.0.0.1:8000/media/{{post.featured_image}}" alt="Card image cap">
        {% endif %}
        
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content | truncatewords:20}}</p>
          <small style="margin-bottom: 10px;"class="card-text"  >Author: {{post.author.first_name}}</small><br>
          <a href="{% url 'post:detail' pk=post.id %}" class="btn btn-primary">Go to post</a>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}