{% extends 'core/base.html' %}

{% load static %}

{% block head_block%}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Permanent+Marker&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/posts.css'%}">

{%endblock%}

{% block body_block %}

{% if request.user == post_detail.author %}
<div class="post-cta">
    <a href="{% url 'post:update' pk=post_detail.id %}" class='btn btn-warning'>Update</a>
    <a href="{% url 'post:delete' pk=post_detail.id %}" class='btn btn-danger'>Delete</a>
</div>
{% else %}
<p>You are not the author of this post</p>
{% endif %}
<div class="jumbotron">
    <h1 class="post-title">{{post_detail.title}}</h1>
    <p class="post-author">By: {{post_detail.author.first_name | title }} {{post_detail.author.last_name | title }}</p>
</div>

{% if request.user == post_detail.author %}
<div class="post-detail-container" style="transform:translate(-50%,-29%);">
{% else %}
<div class="post-detail-container" style="transform:translate(-50%,-25%);">
{% endif %} 
    <div class="post-content-container">
        <p>{{post_detail.content}}</p>
    </div>
</div>

{% endblock %}